<!--The content below is only a placeholder and can be replaced.-->

<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a [routerLink]="['/']" class="navbar-link">Home</a>                  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/','posts']">My Improvements</a>
          </li>               
          <li class="nav-item" *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']">
            <a [routerLink]="['/','login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']">
            <a [routerLink]="['/','users','new']">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn()">  
            <a (click)="authService.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header> -->

  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" [routerLink]="['/']">Coding Campus</a>    
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a [routerLink]="['/']">Home</a>
                  </li>
                  <li>
                       <a [routerLink]="['/','posts']">My Improvements</a>
                  </li>  
                  <li *ngIf="!authService.isLoggedIn()" >
                    <a [routerLink]="['/','login']">Login</a>
                  </li>
                  <li *ngIf="!authService.isLoggedIn()" >
                    <a [routerLink]="['/','users','new']">Sign Up</a>
                  </li>
                  <li *ngIf="authService.isLoggedIn()">  
                    <a (click)="authService.logout()">Logout</a>
                  </li>                
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <header class="intro-header" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>CODING CAMPUS</h1>
                    <hr class="small">
                    <span class="subheading">a coding campus</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container-fluid">
    <div class="row">
      
      <!-- <nav class="navbar navbar-default navbar-custom">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/']" class="navbar-brand">DevSupreme</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li [routerLinkActive]="['active']">
                <a [routerLink]="['/','users']">Users</a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li [routerLinkActive]="['active']">
                <a [routerLink]="['/','posts']">Posts</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']"> 
                <a [routerLink]="['/','login']">Login</a>
              </li>
              <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']">
                <a [routerLink]="['/','users','new']">Sign Up</a>
              </li>
              <li *ngIf="authService.isLoggedIn()">  
                <a (click)="authService.logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>      -->

      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>